body {
  background-color: crimson;
}

h1 {
  font-family: "Hedvig Letters Sans", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  font-family: "Hedvig Letters Sans", sans-serif;
  display: inline;
  margin: 40px;
}

.navbar {
  text-align: center;
}

.navbar-items {
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
}

li {
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}

#white-bg {
  background-color: azure;
}

#green-txt {
  color: chartreuse;
}

.resize {
  margin-left: 50px;
  width: 200px;
  height: 400px;
}

#akira {
  clip-path: 50px;
}

.border {
  border-style: solid;
  border-color: purple;
  border-width: 5px;
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}

.navn {
  display: inline-block;
  font-family: "Hedvig Letters Sans", sans-serif;
  font-size: 25px;
}

.btnsubmit {
  text-align: center;
  margin-top: 20px;
}
